.main {
    padding: var(--padding-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile {
    background-color: #fff;
    border: var(--border-primary);
    padding: 60px 40px;
    border-radius: var(--border-radius);
}

.profile form {
    gap: 20px;
}

