.main {
    background-color: #fff;
    border-radius: var(--border-radius);
    pointer-events: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: inherit;
    box-shadow: var(--box-shadow-primary);
}

.main iframe {
    width: 100% !important;
    height: 100vh !important;
    overflow-y: scroll;
  }

.pdfViewer {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Use the full height of the viewport */
  background-color: #f0f0f0; /* Just an example background color */
}

.main select {
    height: 20vh;
    outline: none;
    border: var(--border-primary);
    border-radius: var(--border-radius);
    padding: 10px 10px;
    box-shadow: var(--box-shadow-secondary);
    font-size: 14px;
}


.create-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.view {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--gap-secondary);
    width: 100%;
    padding: 40px;
    border-radius: var(--border-radius);
    border: rgb(233, 233, 233) 2px solid;
    box-shadow: var(--box-shadow-secondary);
    background-color: #fff;
    overflow-y: scroll;
    position: relative;
}

.btn-group {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.btn {
    background-color:var(--color-primary);
    color: #fff;
    padding: 6px 18px;
    font-size: 14px;
    margin: 2px;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:disabled {
    background-color:#e6e6e6;
    color: #242424;
}

@media screen and (max-width: 960px) {
    .main {
        flex-direction: column;
        padding: 2vh 4vw;
    }
    .create-view {
        flex-direction: column;
    }
}