.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: var(--border-radius);
    max-width: 1000px;
    min-width: 300px;
    pointer-events: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-secondary);
    width: inherit;
    height: 95vh;
    box-shadow: var(--box-shadow-primary);
}

.create-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.view {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--gap-secondary);
    width: 100%;
    padding: 40px;
    border-radius: var(--border-radius);
    border: rgb(233, 233, 233) 2px solid;
    box-shadow: var(--box-shadow-secondary);
    background-color: #fff;
    overflow-y: scroll;
}

.close-modal {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 20px;
    padding: 10px;
    height: 20px;
    cursor:pointer;
}


@media screen and (max-width: 960px) {
    .modal, .overlay {
        z-index: 998;
    }
    .modal-content {
        background-color: white;
        width: 100vw;
        z-index: 999;
        height: 100vh;
        flex-direction: column;
    }
}