.header {
  margin: 0vh 0;
  margin-bottom:4vh;
  display:flex;
  flex-direction:column;
  text-align:center;
}

.header h1 {
  font-size:42px;
  margin-top:0;
  margin-bottom:10px;
  
}

.header h1 img {
  width:40px;
  height:auto;
}

.header p {
  font-size:16px;
}