.main {
    padding: var(--padding-primary);
}

.profile {
    background-color: #fff;
    box-shadow: var(--box-shadow-primary);
    padding: 60px 40px;
    border-radius: var(--border-radius);
}

@media screen and (min-width: 960px) {
    .profile {
        margin: 2vh 20vw;
    }
}