.main {
    padding: var(--padding-secondary);
}

.main header {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.modal-open {
    pointer-events: none;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-primary);
}

.add-icon {
    width: 20px;
    height: 30px;
}